.tdg-editscreen-main-button {
	padding: 5px;
	font-size: 120%;
}

.tdg-editTable {
	width: 100%;
}

.tdg-editTable .tdg-tr-head {
	font-size: 150%;
}
 
.tdg-title {
	font-size: 200%;
}

.tdg-editTable tr {
	border: 1px solid;
}