.tdg-editscreen-main-button {
	padding: 5px;
	font-size: 120%;
}

.tdg-editscreen-error-msg {
	color: #A80000;
	font-size: 150%;
	padding: 15px;
}

.tdg-editTable {
	width: 100%;
}

.tdg-editTable .tdgerror .tdg-param-attr-name {
	border: 2px solid red;
}

.tdg-editTable .tdg-tr-head {
	font-size: 150%;
}

.tdg-title {
	font-size: 200%;
}

.tdg-editTable tr {
	border: 1px solid;
	vertical-align: top;
}

.tdg-editTable td {
	border-bottom: 1px dashed #333333;
}